:root {
  font-family: "Inter,Avenir,Helvetica,Arial,SansSerif";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  --black: #04152d;
}

html::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
}

.navbar {
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: 0.5s;
}
.navbar:hover {
  color: purple;
}

.search-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  top: 80;
  z-index: 100;
  border-radius: 30;
  background: rgba(0, 0, 0, 0.25);
}
.search-text-input > input {
  background: #fff;
  padding: 20;
  color: #000;
  border-radius: 30;
}

.navbar-opened {
  position: absolute;
  padding: 10;
  top: 50;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.25);
}
.hero-section-form > input {
  background: white;
  color: #000;
  border: none;
  border-top-left-radius: 30;
  border-bottom-left-radius: 30;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  font-weight: 500;
}
.hero-section-form > input::placeholder {
  color: #000;
  font-weight: 400;
}

.hero-section-button {
  border: none;
  background: linear-gradient(to left top, #f7ff00, #db36a4);
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  border-top-right-radius: 30;
  border-bottom-right-radius: 30;
}
.segment-control .root {
  width: 200;
  background-color: white;
  color: #000;
  /* box-shadow:; */
  border: 1rem solid;
}
